<html>
    <head>
        <title>Subscribe for new life</title>

        <%- include('../master/header') %>

    </head>
    <body>
        <section class="section-sign-up">
            <div class="introduce fade-in">
                <h1>Subscribe For New Life</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <form class="form-sign-up slide-up" id="form-sign-up" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" name="name" placeholder="Your name" required/>
                    <small class="text-danger" id="error-name"></small>
                </div>

                <div class="form-group">
                    <input class="form-control" name="email" placeholder="Your email" required/>
                    <small class="text-danger" id="error-email"></small>
                </div>

                <div class="form-group">
                    <input class="form-control" name="phone_number" placeholder="Your phone number"/>
                    <small class="text-danger" id="error-phone_number"></small>
                </div>

                <div class="form-group">
                    <label class="image-upload-preview" for="image">
                        <img id="preview" src="/public/theme/images/image-placeholder-350x350.png"/>
                        <label for="image">Upload your image</label>
                        <input type="file" id="image" name="image" accept="image/*" hidden/>
                    </label>
                    <small class="text-danger" id="error-image"></small>
                </div>

                <button class="btn-submit">Submit</button>
            </form>
        </section>

        <%- include('./partials/modal-success') %>
        <%- include('./partials/modal-failure') %>

        <%- include('../master/footer') %>
        <%- include('./post-script') %>
    </body>
</html>